{% extends "layout.html" %}
{% block body %}
<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Te Huur: Bouwdrogers</h1>
          <!-- <span class="color-text-b">Totaal Project</span> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<!--/ Property Single Star /-->
<section class="property-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
          <div class="carousel-item-b">
            <img src="{{url_for('static', filename='img/bouwdroger1.jpg')}}" alt="">
          </div>
          <div class="carousel-item-b">
            <img src="{{url_for('static', filename='img/bouwdroger3.jpg')}}" alt="">
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-md-5 col-lg-4">
            <div class="property-price d-flex justify-content-center foo">
            </div>
            <div class="property-summary allign-top">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d section-t4">
                    <h3 class="title-d">Eigenschappen</h3>
                  </div>
                </div>
              </div>
              <div class="summary-list">
                <ul class="list">
                  <li class="d-flex justify-content-between">
                    <span>Prijzen zijn exclusief BTW</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Prijs:</strong>
                    <span>8 EUR / dag</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Prijs + blazer:</strong>
                    <span>11 EUR / dag</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Levering  < 15 KM:</strong>
                    <strong>Gratis</strong>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Levering  > 15 KM:</strong>
                    <span>0,50 EUR / km</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Plaatsing: huur > 30 dagen:</strong>
                    <strong>Gratis</strong>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Plaatsing: huur < 30 dagen:</strong>
                    <span>65 EUR</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-7 section-md-t3">
            <div class="row">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d">Omschrijving</h3>
                </div>
              </div>
            </div>
            <div class="property-description">
              <p class="description color-text-b">
                Het "werkpaard" uit het Dryfast bouwdroger programma en de
                succesvolle opvolger van de oude DF600H / FD60(AX).
                De DF800 is geschikt voor ruimtes van circa 800 m³, is voorzien
                van een radiaalventilator voor meer luchtverplaatsing en heeft
                een zeer efficiënte Toshiba roterende compressor. Daarnaast
                heeft hij een onvergelijkbaar hoge ontvochtigingscapaciteit,
                zeker ook bij lagere temperaturen.
              </p>

              <p>
                Wil je graag deze bouwdroger huren of heb je nog andere vragen?
                <br> geef ons een seintje via: <br>
                Tel.: +32 494 16 06 46 <br>
                Mail: <a href="mailto:info@icubouwwerken.be" >info@icubouwwerken.be</a>
              </p>
              <!-- <p>
                - Proceslucht: 940 m³/uur, radiaal ventilator <br>
                - Nominale capaciteit: 150 l / 24 uur <br>
                - Aansluitspanning: 230 V / 50 Hz <br>
                - Opgenomen vermogen: 2,1 (9,5) kW (A) <br>
                - Afmetingen L x B x H: 585 x 630 x 1.020 mm <br>
                - Gewicht: 71 kg <br>
                - Mobiliteit: verrijdbaar <br>
                - Min. / max. bedrijfstemperatuur: 0 / 40°C <br>
                - Ontdooi-inrichting: heetgas thermostaat gestuurd <br>
                - Aanbevolen zekering: 16 A <br>
                - Urenteller: standaard <br>
                - Koelgas: R407C <br>
                - Geluidsniveau: 59 dB(A)<br>
              </p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10 offset-md-1">
        <div class="tab-content" id="pills-tabContent">
          <!-- <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
            <iframe src="https://www.youtube.com/embed/S0xISkKa0-Q" width="100%" height="460" frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
          <!-- </div><iframe width="560" height="315" src="https://www.youtube.com/embed/S0xISkKa0-Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Property Single End /-->
{% endblock %}
