  {% extends "layout.html" %}
{% block body %}
<!--/ Intro Single star /-->
<form class="" action="{{ url_for('nieuwProject', active='projecten')}}" method="post" enctype="multipart/form-data">

<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single"><input type="text" name="name" value="{{project.name}}"></h1>
          <span class="color-text-b"></span>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<!--/ Property Single Star /-->
<section class="property-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% for picture in pictures %}
        <input type="checkbox" name="{{picture}}" value="">Delete: {{picture}}<br>
        {% endfor %}
        <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
          <div class="carousel-item-b">
            <img src="/{{ picture }}" alt="">
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-md-5 col-lg-4">
            <div class="property-price d-flex justify-content-center foo">
            </div>
            <div class="property-summary allign-top">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d section-t4">
                    <h3 class="title-d">Samenvatting</h3>
                  </div>
                </div>
              </div>
              <div class="summary-list">
                <ul class="list">
                  <li class="d-flex justify-content-between">
                    <strong>Stijl:</strong>
                    <span><input type="text" name="style" value="{{project.style}}"></span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Type:</strong>
                    <span><input type="text" name="type" value="{{project.type}}"></span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Werken:</strong>
                    <span><input type="text" name="contribution" value="{{project.contribution}}"></span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Architect:</strong>
                    <!-- <span>dropdown</span> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-7 section-md-t3">
            <div class="row">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d">Omschrijving</h3>
                </div>
              </div>
            </div>
            <div class="property-description">
              <textarea name="description" rows="8" cols="80" value="">{{project.description}}</textarea>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-10 offset-md-1">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
            <iframe src="https://www.youtube.com/embed/S0xISkKa0-Q" width="100%" height="460" frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div> -->
  </div>

    <button type="submit" class="btn btn-a">Maak aan</button>

</section>
</form>
<!--/ Property Single End /-->
{% endblock %}
