{% extends "layout.html" %}
{% block body %}
  <!--/ Carousel Star /-->
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-a intro-item bg-image" style="background-image: url( {{ url_for('static', filename='img/huis.jpg') }} )">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Ruwbouw en afwerking
                      <br> Architect: Cis Cuypers</p>
                    <h1 class="intro-title mb-4">
                       <span class="color-c">Modern</span> wonen in landelijke omgeving
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({{ url_for('static', filename='img/huis2.jpg')}})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Verbouwen
                      <br> Architect: Cis Cuypers</p>
                    <h1 class="intro-title mb-4">
                       <span class="color-c">Klassiek</span> en Rustiek
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({{url_for('static', filename='img/begijnhoeve2.jpg')}}">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Renoveren
                      <br> Architect: Cis Cuypers</p>
                    <h1 class="intro-title mb-4">
                       <span class="color-c">Hoeve</span> stijl met moderne toets
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Carousel end /-->

  <!--/ Services Star /-->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Onze Waarden</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico mr-3">
                <span class="fas fa-clipboard-check"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Kwaliteit</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
              Omdat een huis, villa of appartement bouwen of verbouwen altijd
              een grote investering vraagt, doen wij er alles aan om uw project
              aan de hoogst mogelijke graad van kwaliteit op te leveren.
              Zo kan u er gerust op zijn dat op de lange termijn de integriteit
                van uw project gewaarborgd is.
              </p>
            </div>
            <!-- <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="ion-ios-arrow-forward"></span> -->
              </a>
            </div>
          </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico mr-3">
                <span class="far fa-handshake"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Integriteit</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Een huis of appartement bouwen of verbouwen is een uitdagende
                balanceer oefening. Wij bij ICU hebben hier alle begrip voor
                en engageren ons om deze denkoefening samen met u tot een goed
                einde te brengen. Net omdat wij zo gepassioneerd zijn als u,
                nodigen wij u graag uit om alles te besprek en stellen wij
                met plezier een gratis offerte op.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico mr-3">
                <span class="fas fa-expand-arrows-alt"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Flexibiliteit</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Naarmate u ziet hoe uw ideeën en plannen gerealiseerd worden
                krijgt u een beter beeld van wat er nog ontbreekt en of er
                aanpassingen nodig zijn. Dankzij onze ervaring  zijn wij
                hier zeer flexibel in en kunnen wij u helpen om uw visie te
                perfectioneren.
              </p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Services End /-->

  <!--/ Property Star /-->
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Recente Projecten</h2>
            </div>
            <div class="title-link">
              <a href="{{url_for('projecten')}}">Alle Projecten
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="property-carousel" class="owl-carousel owl-theme">
        {% for project in projecten %}
        <div class="carousel-item-b">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              {% for picture in pictures %}
                {% if picture.id == project.profile_pic_id%}
                  <img src="/{{picture.path}}" alt="" class="img-a img-fluid">
                {% endif %}
              {% endfor %}
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="#">{{ project.name }}
                      <br/>{{ project.contribution }}</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <a href="{{url_for('showProject', project_name=project.name)}}" class="link-a">Klik hier voor meer info
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Stijl:</h4>
                      <span>{{ project.style }}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Type:</h4>
                      <span>{{ project.type }}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Architect:</h4>
                      <span>{{ project.architect.name }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ Property End /-->



  <!--/ Testimonials Star /-->
  <section class="section-testimonials section-t8 nav-arrow-a">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Wat zeggen onze klanten</h2>
            </div>
          </div>
        </div>
      </div>
      <div id="testimonial-carousel" class="owl-carousel owl-arrow">
        <div class="carousel-item-a">
          <div class="testimonials-box">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <!-- <div class="testimonial-img">
                  <img src="{{ url_for('static', filename='img/testimonial-1.jpg') }}" alt="" class="img-fluid">
                </div> -->
              </div>
              <div class="col-sm-12 col-md-12">
                <div class="testimonial-ico">
                  <span class="ion-ios-quote"></span>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text">
                    Wij zijn zeer te spreken over het geleverde werk. Onze stal
                    is naar zeer hoge normen afgewerkt. De communicatie was
                    snel en doordacht. We hadden geen betere partij kunnen
                    vinden om ons stulpje mee te verwezelijken.

                  </p>
                </div>
                <div class="testimonial-author-box">
                  <img src="{{url_for('static', filename='img/mini-testimonial-1.jpg') }}" alt="" class="testimonial-avatar">
                  <h5 class="testimonial-author">Cis & Laure</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-a">
          <div class="testimonials-box">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <!-- <div class="testimonial-img">
                  <img src="{{url_for('static', filename='img/testimonial-2.jpg') }}" alt="" class="img-fluid">
                </div> -->
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-ico">
                  <span class="ion-ios-quote"></span>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text">
                    Wij zijn zeer te spreken over het geleverde werk. Onze stal
                    is naar zeer hoge normen afgewerkt. De communicatie was
                    snel en doordacht. We hadden geen betere partij kunnen
                    vinden om ons stulpje mee te verwezelijken.
                  </p>
                </div>
                <div class="testimonial-author-box">
                  <img src="{{url_for('static', filename='img/mini-testimonial-2.jpg') }}" alt="" class="testimonial-avatar">
                  <h5 class="testimonial-author">Cis & Laure</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
  <!--/ Testimonials End /-->
