{% extends "layout.html" %}
{% block body %}
<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">{{ project.name }}</h1>
          <span class="color-text-b">{{ project.type }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<!--/ Property Single Star /-->
<section class="property-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
          {% for picture in pictures %}
          <div class="carousel-item-b">
            <img src="/{{ picture }}" alt="">
          </div>
          {% endfor %}
        </div>
        <div class="row justify-content-between">
          <div class="col-md-5 col-lg-4">
            <div class="property-price d-flex justify-content-center foo">
            </div>
            <div class="property-summary allign-top">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d section-t4">
                    <h3 class="title-d">Quick Summary</h3>
                  </div>
                </div>
              </div>
              <div class="summary-list">
                <ul class="list">
                  <li class="d-flex justify-content-between">
                    <strong>Stijl:</strong>
                    <span>{{ project.style }}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Type:</strong>
                    <span>{{ project.type }}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Werken:</strong>
                    <span>{{ project.contribution }}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <strong>Architect:</strong>
                    <span>{{ project.architect.name }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-7 section-md-t3">
            <div class="row">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d">Property Description</h3>
                </div>
              </div>
            </div>
            <div class="property-description">
              <p class="description color-text-b">
              {{ project.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10 offset-md-1">
        <div class="tab-content" id="pills-tabContent"  >
          <!-- <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
            <iframe src="https://www.youtube.com/embed/S0xISkKa0-Q" width="100%" height="460" frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
          <!-- </div><iframe width="560" height="315" src="https://www.youtube.com/embed/S0xISkKa0-Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Property Single End /-->
{% endblock %}
